.picture-box {
  height: calc(100px + 1em);
  margin-bottom: 1em;
  padding: 0.5em;
  background: rgb(86, 89, 93);
  border-radius: 5px;
}

#picture img {
  width: 100%;
  height: 100%;
}

.schoolbell-para {
  color:rgb(0, 0, 0);
  font-family: "Schoolbell", serif;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  text-align: left; 
  width: 100%;
  font-size: 20px !important;
}

.schoolbell-header {
  color:rgb(0, 0, 0);
  font-family: "Schoolbell", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  width: 100%;
  font-size: 40px;
}


.users {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.login-event {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  color: #333;
}
