

.navbar {
  margin-bottom: 0; /* Remove negative margin */
}


.schoolbell-regular {
  font-size: 24px; /* Reduce font size */
}

.nav-link {
  font-size: 20px; /* Reduce font size */
}

body {
  font-size: 16px; 
}

h1 {
  font-size: 2em; 
}

h2 {
  font-size: 1.5em; 
}

p {
  font-size: 1em; 
}

.schoolbell-regular {
  font-family: "Schoolbell", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  width: 100%;
  font-size: 40px;
}


.shelf {
  max-width: 1000px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-shrink: 0;
  z-index: 1; 
  position: relative;
  height: 0px;
  box-sizing: border-box;
  border-bottom: 16px solid #f3f3f3;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  pointer-events: all;
}

.shelf::before {
  content: "";
  position: absolute;
  top: 16px;
  background: #7a7878;
  height: 26px;
  width: calc(100% + 40px);
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.05), 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.shelf::after {
  content: "";
  height: 80px;
  width: calc(100% + 40px);
  position: absolute;
  top: 42px;
  display: block;
  background: linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);
  clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 3% 100%);
}

.figures {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 10%;
  width: 80%;
  margin: auto;
  transform: translateY(-100%);
  padding: 0 0 2px;
  z-index: 1;
  position: relative;
  top: 10px;
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; 
  height: 150px; 
  aspect-ratio: 115 / 180;
  position: relative;
  background: none; 
  box-shadow: none; 
}

.figure img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
  border: none; 
}

.fig-handdrawn-button {
  color: black; 
  text-decoration: none; 
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 0px black;
  font-family: "Schoolbell", serif;
  min-width: 140px;
  height: 40px;
  padding-top: 6px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.handdrawn-button:hover {
  color: #000; 
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

.remove-button:hover {
  background-color: darkred;
}